@model IEnumerable<JenzHealth.Areas.Admin.ViewModels.DocServiceComputationVM>
@{
    ViewBag.Title = "Compute Result";
}
<link href="~/Content/css/richtext.min.css" rel="stylesheet" />
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-11 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Laboratory management</span>
        <h3 class="page-title">Compute Result</h3>
    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="Table row actions">
        <button type="button" id="close" class="btn btn-white fa-pull-right" title="Click to close all">close</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card  card-small h-auto">
            <div class="card-header border-bottom">
                <h6 class="m-0">Service/Test</h6>
                <div class="block-handle"></div>
            </div>
            <div class="card-body p-0">
                <div class="container-fluid" id="resultBody">
                    @foreach (var billedService in Model)
                    {
                        <div class="row px-3">
                            <div class="col-md-3 sc-stats__title"><strong style="line-height: 20px">@billedService.Service</strong></div>
                            <div class="col-md-9">
                                <table class="file-manager file-manager-list2 d-none table-responsive">
                                    <thead class="bg-light">
                                        <tr>
                                            <th scope="col">Parameter</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var paramater in billedService.Parameters)
                                        {
                                            <tr>
                                                <td style="width:15%" data-parent="@billedService.ServiceID" data-service="@billedService.Service" data-child="@paramater.Id">@paramater.Name</td>
                                                <td style="width:85%" id="parameter-@paramater.Id">@paramater.Value</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div><hr />

                    }
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="labnote">Lab Note</label>
                        <div class="input-group input-group-seamless">
                            <textarea class="form-control" id="labnote" rows="3">@Model.FirstOrDefault().Labnote</textarea>
                            <div class="invalid-feedback">
                                Lab note required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="ScientificComment">Scientist Comment</label>
                        <div class="input-group input-group-seamless">
                            <textarea class="form-control" id="comment" rows="3">@Model.FirstOrDefault().ScienticComment</textarea>
                            <div class="invalid-feedback">
                                Scientic comment required
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="specimencollectedID" value="@TempData["SpecimenCollectedID"]" />
                    <input type="hidden" id="billnumber" value="@TempData["BillNumber"]" />
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" id="FinishBtn">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
@section Scripts{
    <script src="~/Scripts/jquery.richtext.min.js"></script>
    <script src="~/Areas/Admin/Scripts/ComputeDocTemplated.js"></script>
    <script>
    $(function () {
        var services = @Html.Raw(Json.Encode(Model));
        $.each(services[0].Parameters, function (i, parameter) {
                setEditor(parameter.Id);
            });
    });
    </script>
}


